@font-face {
	font-family: "Gilroy";
	src: url('fonts/Gilroy-Bold.ttf');
}
@font-face {
	font-family: "Gilroy-Light";
	src: url('fonts/Gilroy-Light.otf');
}

.roboto {
	font-family: "Roboto";
	letter-spacing: 0.4px;
}

body {
	background-color: #f5f6fa;
}

header {
	padding: 40px 7.5%;
	padding: 5vh 7.5%;
	padding: 5vh 0 5vh 7.5%;
	width: 100%;
	position: absolute;
	z-index: 100;
	transition: 0.3s;
}

.header-bg {
	background-color: #fff;
	padding: 2vh 0 2vh 7.5%;
	box-shadow: 0 0 10px #00000010;
}

header .logo img {
	float: left;
}

header .logo img {
	-height: 60px;
	width: 10%;
	width: 8%;
	margin-right: 17.7%;
}

.header-link {
	float: left;
	margin: 12px 20px;
	margin: 12px 2.5%;
	margin: 1.2vw 2.5% 0 2.5%;
}

.header-link p {
	text-decoration: none;
	color: #fff;
	color: #ccc !important;
	-font-family: "Roboto";
	font-family: "Gilroy";
	letter-spacing: 0.4px;
	font-size: 1.2vw;
}

.header-link p:hover {
	color: #fff !important;
	cursor: pointer !important;
}

.header-bg .header-link p {
	color: #666 !important;
}

.header-bg .header-link p:hover {
	color: #212529 !important;
}

.header-bg .header-link p.stake-now {
	color: #fff !important;
}

.header-bg .header-link p.activ {
	color: #ec2031 !important;
}

.header {
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.main {
	height: 100vh;
	width: 100%;
	padding-top: 30vh;
	padding: 35vh 40% 0 7.5%;
	background-color: #0e1937;
	background: linear-gradient(-45deg, #060e23f0, #0e1937f0), url(img/bg.jpg) center center no-repeat;
	background-size: cover;
}

h2 {
	font-family: "Gilroy";
	font-size: 4em;
	font-size: 5vw;
}

.main h2 {
	color: #fff;
	-color: #ec2031;
	font-size: 3.4em;
	font-size: 4vw;
	margin-bottom: 0.3em;
	-position: relative;
	-z-index: 1000;
}

.main h3 {
	font-family: "Gilroy";
	color: #e0e0e0;
	color: #aaaaaa;
	font-size: 1.2em;
	font-size: 1.4vw;
}

.networks {
	padding: 0 5% 100px 5%;
	padding: 100px 5%;
	text-align: center;
}

.network {
	display: inline-grid;
	text-align: center;
	width: 22%;
	padding: 60px 0;
	margin: 10px .75%;
	border: solid 1px #ddd;
	border-radius: 5px;
	transition: 0.3s;
	height: 21vw;
}

.active:hover {
	-margin: 0;
	-width: 24%;
	-padding: 70px 0;
	cursor: pointer;
	box-shadow: 0 0 20px #00000030;
	transform: scale(1.1);
}

.active-p:hover {
	margin: 0 10px;
	width: 240px;
	padding: 50px 0;
	cursor: pointer;
	box-shadow: 0 0 10px #00000030;
}

.active {
	background-color: #fff;
}

.inactive {
	background-color: #eee;
}

.network .icon {
	margin-bottom: 10px;
}

.network .icon img {
	-width: 25%;
	height: 5vw;
}

.network h3 {
	color: #0e1937;
	font-family: "Gilroy";
	font-size: 1.4em;
	font-size: 1.6vw;
}

.status {
	text-align: center;
	width: 100%;
}

.status,
.click-for-more {
	font-size: 0.9em;
	font-size: .9vw;
	-font-family: "Gilroy-Light";
	color: #555;
}

.status span {
	-float: left;
	margin-top: 12px;
	font-size: 1vw !important;
}

.click-for-more {
	margin-top: 10px;
	opacity: 0;
}

.live {
	background-color: #17b540;
	padding: .25vw;
	border-radius: 10vw;
	width: 0px;
	height: 0px;
	margin-right: .35vw;
	position: relative;
	top: -.1vw;
	-float: left;
	display: inline-block;
}

.non-live {
	background-color: #e49114;
}

.perc {
	color: #17b540;
	font-size: 1.4vw;
}

.com-soon {
	color: #17b540 !important;
	-padding: 1px 5px;
	width: 50%;
	margin-top: 5px;
	margin-left: 25%;
	border: solid 1px #17b540;
	border-radius: 5px;
	font-size: 0.8em;
}

.portfolio {
	text-align: center;
}

.networks h2,
.portfolio h2,
.about h2,
.contact h2 {
	margin-top: 2em;
	margin-bottom: 0.8em;
}

.portfolio div div {
	text-align: center;
}

.portfolio div div {
	width: 200px;
	width: 75%;
	margin-left: 12.5%;
	margin-top: 1em;
}

.about {
	text-align: center;
	margin-top: 100px;
}

.member {
	width: 25%;
	background-color: #fff;
	padding: 40px;
	margin: 0 1%;
	display: inline-block;
	border: solid 1px #ddd;
	border-radius: 5px;
	transition: 0.3s;
	display: inline-grid;
}

.avatar {
	border-radius: 100px;
}

.avatar img {
	width: 60%;
	border-radius: 300px;
	margin-bottom: 1.4em;
}

.member h3 {
	font-size: 1.4em;
	margin-bottom: 0.1em;
	font-family: "Gilroy";
}

.member h4 {
	color: #ec2031;
	font-size: 1.2em;
	height: 3.6em;
}

.member span {
	font-size: 0.9em;
	color: #555;
}

.member-info {
	min-height: 11em;
}

.contact {
	margin-top: 100px;
}

.contact h2 {
	text-align: center;
}

.get-in-touch {
	margin-left: 5%;
	width: 90%;
}

.get-in-touch h3 {
	margin-bottom: 50px;
}

.left-info {
	margin-top: 50px;
}

.get-in-touch .row div {
	float: left;
	font-family: "Gilroy-Light";
	margin-bottom: 30px;
}

.gt-ico {
	text-align: center;
	font-size: 30px;
	color: #ec2031;
}

.get-in-touch input {
	margin-bottom: 20px;
}

.left-info {
	font-weight: 600;
}

.row .col-4 .col-10:nth-child(2),
.row .col-4 .col-10:nth-child(6) {
	margin-top: 8px;
}

input,
textarea,
select {
	width: 100%;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px 15px;
	outline-color: transparent;
	outline-style: none;
	border: solid 1px #ddd;
	background-color: #fff;
	color: #333;
	font-family: "Gilroy-Light";
}

input:focus,
textarea:focus,
select:focus {
	border-color: #ec2031;
	border-color: #222;
}

input[type="submit"] {
	margin-top: 30px;
	width: 40%;
	margin-left: 30%;
	color: white;
	background-color: #ec2031;
	border: none;
	font-weight: 500;
	font-family: "Gilroy";
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #e41f30;
}

input:focus,
textarea:focus {
	border-color: #ec2031 !important;
}

footer {
	margin-top: 200px;
	padding: 0px 0 20px 0;
	text-align: center;
	background-color: #0e1937;
}

footer h4 {
	color: #fff;
	font-family: "Gilroy";
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: 2.5em;
}

footer i {
	color: #fff;
	color: #c5cde2;
	font-size: 1.6em;
	margin: 0 .3em;
}

footer i:hover {
	color: #fff;
}

footer .row {
	margin: 0;
}

footer h6 {
	color: #ccc;
	font-size: 0.9em;
	font-weight: 500;
	margin-top: 30px;
}

.sidebar {
	position: fixed;
	right: 0;
	width: 5vw;
	-height: 300px;
	top: 30vh;
	z-index: 1000;
}

.s-link {
	width: 3.2vw;
	height: 3.2vw;
	text-align: center;
	padding-top: .8vw;
	border-radius: 1000px;
	border: solid 1px #0e1937;
	margin-bottom: 1em;
	transition: 0.3s;
}

.s-link:hover {
	transform: scale(1.2);
}

.s-link i {
	color: #0e1937;
	font-size: 1.55vw;
}

.sidebar-w .s-link {
	border: solid 1px #fff;
}

.sidebar-w .s-link i {
	color: #fff;
}

.sidebar-w2 .s-link {
	border: solid 1px #fff;
}

.sidebar-w2 .s-link i {
	color: #fff;
}

.game {
	background-color: #0e1937;
	padding: 100px 3% 100px 7.5%;
}

.game h3 {
	color: #fff;
	font-family: "Gilroy";
	font-size: 3em;
}

.game h4 {
	color: #fff;
	font-family: "Gilroy";
	font-family: "Gilroy-Light";
}

.game form {
	margin-top: 3em;
}

.game input {
	width: 30%;
	margin-left: 0;
	margin-right: 2%;
}

.game input,
.game textarea,
.game select {
	font-family: "Gilroy";
}

.choice {
	border: 0;
	padding: 0;
	width: 20%;
	margin: 0 2%;
}

.choice i {
	font-size: 4em;
	margin-bottom: 0.5em;
	color: #ec2031;
}

.choice h3 {
	height: 2em;
}

.choose {
	padding: 0 3.5%;
}

.choose h2 {
	margin-top: 2em;
	margin-bottom: 1em;
}

.data {
	width: 84%;
	margin-left: 8%;
	height: 1000px;
	height: 41vw;
	background-color: #fff;
	padding: 50px;
	padding: 2vw 5vw 4vw 5vw;
	border: solid 1px #ddd;
	border-radius: 5px;
	display: none;
}

.token-name {
	width: 100%;
	height: 5em;
	height: 3.75vw;
	display: inline-block;
}

.token-name h3 {
	font-family: "Gilroy";
	font-size: 3.4vw;
}

.token-name .project-name {
	float: left;
}

.token-name .token {
	float: right;
}

.comission-reward {
	width: 100%;
}

.reward-comission .col-3 {
	text-align: left;
}

.reward-comission .col-3 h5 {
	font-family: "Gilroy";
	font-size: 2.2vw;
}

.reward-comission .col-3 h6 {
	-font-family: "Gilroy-Light";
	font-size: 1.2vw;
	color: #666;
	margin-bottom: 0;
	margin-bottom: .1vw;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;
	padding: 0;
}

.slider:hover {
	opacity: 1;
}

.slider:active,
.slider:focus {
	outline: none;
	border: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2.4vw;
	height: 2.4vw;
	border-radius: 1000px;
	background: #212529;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 2.4vw;
	height: 2.4vw;
	border-radius: 1000px;
	background: #212529;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.range div {
	text-align: left;
	margin-top: 50px;
	margin-top: 0.7vw;
	margin-top: 0;
	-margin-bottom: 0.7vw;
}

.range h5 {
	font-size: 1.5vw;
	color: #666;
	margin: 0;
}

.range h4,
#delegated-amount {
	font-size: 3vw;
	color: #212529;
	font-family: "Gilroy";
	border: none;
	padding: 0;
	background-color: transparent;
}

.calculated {
	width: 100%;
	margin-top: 6em;
	margin-top: 1vw;
}

.calculated .col-4 {
	text-align: left;
	margin-top: 1vw;
}

.calculated .col-4 h5 {
	font-family: "Gilroy";
	font-size: 2.2vw;
	margin-bottom: 0;
}

.calculated .col-4 h6 {
	-font-family: "Gilroy-Light";
	font-size: 1.1vw;
	color: #666;
	margin-bottom: 0;
}

.calculated .col-4 h4 {
	font-family: "Gilroy-Light";
	font-size: 1.2vw;
	color: #666;
}

.validator {
	text-align: left;
	margin-top: -1vw;
}

.validator h6 {
	color: #666;
}

.validator h5 {
	font-family: "Gilroy";
	font-family: "Gilroy-Light";
	font-size: 1vw;
	margin-top: 1.5vw;
	color: #212529;
	width: 30%;
	float: left;
	margin-right: 3.33333%;
}

.validator a div {
	width: 30%;
	margin-left: 1.66666%;
	margin-right: 1.66666%;
	float: left;
	background-color: #666;
	padding: .6vw 2vw;
	color: #fff;
	font-family: "Gilroy";
	border-radius: .4em;
	opacity: 0.95;
	font-size: 1.2vw;
}

.validator a div:hover {
	opacity: 1;
	cursor: pointer;
}

a.copy-address div {
	margin-left: 0;
	margin-right: 3.33333%;
}

.fa-coins,
.fa-clone {
	float: right;
	-margin-top: 0.4vw;
	font-size: 1.8vw;
}

.fa-clone {
	float: right;
	margin-top: 0.2vw;
	font-size: 1.4vw;
}

a.stake-now {
	color: #fff !important;
}

a.stake-now div {
	-float: right;
	background-color: #ec2031;
}

header a.stake-now div {
	padding: .45vw 1vw;
	margin-top: -0.5vw;
	border-radius: .2em;
}

header a.stake-now div:hover {
	cursor: pointer;
}

header a.stake-now i {
	font-size: 1.2vw;
	margin-left: 1vw;
	margin-top: .3vw;
}

.bck {
	text-align: left;
	margin-bottom: 1.5vw;
}

.bck a {
	color: #ec2031 !important;
	font-size: 1.2vw;
	opacity: 0.8;
	font-family: "Gilroy";
}

.bck a:hover {
	cursor: pointer !important;
	opacity: 1;
}

.perc-red {
	color: #ec2031 !important;
}

#project-name,
#token {
	text-transform: uppercase;
}

.particles-js-canvas-el {
	height: 100vh !important;
}

.validator h6 {
	position: relative;
	top: 2vw;
}

.validator h5 {
	margin-top: 1.85vw;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	text-align: center;
	padding-top: 40vh;
	z-index: 3000;
}

.l-img {
	width: 10%;
	transition: 0.5s;
	position: relative;
}
.l-red {
	margin-left: -10%;
	z-index: 2001;
	z-index: 4000;
	-transform: rotateX(90deg);
}

.l-blue {
	-transform: rotateX(90deg);
}

.blue-hider {
	position: absolute;
	width: 20%;
	height: 15vh;
	z-index: 3002;
	background-color: #fff;
	left: 41%;
	top: 51vh;
	-webkit-animation: BlueAnimation 2s ease forwards;
	-moz-animation: BlueAnimation 2s ease forwards;
	animation: BlueAnimation 2s ease forwards;
	transform: rotate(-90deg);
}

@-webkit-keyframes BlueAnimation {
	70% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

.red-hider {
	position: absolute;
	width: 20%;
	height: 15vh;
	z-index: 5002;
	background-color: #fff;
	left: 38%;
	top: 19vh;
	-webkit-animation: RedAnimation 2s ease forwards;
	-moz-animation: RedAnimation 2s ease forwards;
	animation: RedAnimation 2s ease forwards;
	transform: rotate(-90deg);
}

@-webkit-keyframes RedAnimation {
	70% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

.riot {
	height: 1.55vw;
	margin-top: -0.45vw;
}

.sidebar-w .riot {
	filter: invert();
}

.sidebar-w2 .riot {
	filter: invert();
}

.optional {
	font-size: 12px;
	color: #999;
}

.get-in-touch input[type="text"] {
	margin-bottom: 10px;
}

.member-social i {
	color: #0e1937;
	margin: 0 5px;
	margin-top: 20px;
	font-size: 1.4em;
}

.com-soon-wide {
	margin-left: 15%;
	width: 70%;
}

@media only screen and (min-width: 1920px) {
	.com-soon {
		font-size: 0.7vw;
	}

	.network {
		height: 19vw;
	}

	.riot {
		height: 1.35vw;
		margin-top: -0vw;
	}
	header .logo img {
		width: 6%;
	}

	.networks h2 {
		margin-top: 2.3em;
	}
	.header-links {
		float: right;
		margin-right: 15%;
		width: 54%;
	}
	.header-link a {
		font-size: .72vw;
	}

	h2 {
		font-size: 3vw;
	}

	.header-link {
		margin: .8vw 3% 12px 3%;
	}

	body {
		-background-color: red;
	}

	.networks {
		padding: 100px 15%;
	}

	.token-name h3 {
		font-size: 2.4vw;
	}

	.reward-comission .col-3 h6 {
		font-size: .8vw;
	}

	.reward-comission .col-3 h5 {
		font-size: 2vw;
	}

	.game {
		background-color: #0e1937;
		padding: 100px 13% 100px 17%;
	}

	.choose {
		padding: 0 13.5%;
	}

	.choice h3 {
		height: 3vw;
		font-size: 1.2vw;
	}

	.about,
	.portfolio {
		padding: 0 10%;
	}

	.main h2 {
		font-size: 3vw;
	}
	.main h3 {
		font-size: 1.3vw;
	}

	.header-link a {
		font-size: 1vw;
	}

	.perc {
		font-size: 1.2vw;
	}
	.calculated .col-4 h6 {
		font-size: .8vw;
	}
	.calculated .col-4 h5 {
		font-size: 2vw;
	}
	.range h5 {
		font-size: 1vw;
	}
	#delegated-amount {
		font-size: 2.2vw;
	}
	.slider::-webkit-slider-thumb {
		width: 1.8vw;
		height: 1.8vw;
	}
	.slider::-moz-range-thumb {
		width: 1.8vw;
		height: 1.8vw;
	}

	.validator a div {
		padding: .5vw 1.5vw;
	}
	.validator {
		margin-top: 0;
	}
	.data {
		height: 40vw;
	}
	.validator h6 {
		position: relative;
		top: 1.6vw;
	}
	.validator h5 {
		margin-top: 1.45vw;
	}

	.s-link {
		width: 2.8vw;
		height: 2.8vw;
		padding-top: .7vw;
	}

	.s-link i {
		font-size: 1.35vw;
	}
}

@media only screen and (min-width: 960px) {
	.display-mob {
		display: none;
	}
	header {
		position: fixed;
	}
}

@media only screen and (max-width: 960px) {
	.member-social i {
		color: #0e1937;
		margin: 0 20px;
		margin-top: 0;
		font-size: 2em;
	}
	.header-links,
	.sidebar {
		display: none;
	}
	.main {
		text-align: center;
	}
	.main {
		padding: 35vh 10% 0 7.5%;
	}
	.main h2 {
		font-size: 2em;
	}
	.main h3 {
		font-size: 1.2em;
	}
	header {
		-background-color: #fff;
		padding-bottom: 10px;
		padding-top: 1.5em;
		height: 6em;
	}
	header .logo img {
		width: 30%;
		top: 10px;
	}
	.stake-mob {
		-width: 25%;
		-margin-left: 25%;
		display: inline-block;
		margin-top: 5em;
		position: relative;
		z-index: 100;
	}
	.stake-mob .stake-now {
		font-size: 1.8em;
		font-family: "Gilroy";
	}
	.stake-mob .stake-now div {
		border-radius: .2em;
		padding: .25em 1em;
	}
	.stake-mob i {
		font-size: .9em;
		margin-left: .75em;
		margin-top: .35em;
	}
	.menu-opener {
		position: fixed;
		right: 7.5%;
		top: .5em;
	}
	.menu-opener {
		color: #fff;
		font-size: 2.5em;
		z-index: 1000;
	}
	.menu-opener-red {
		color: #ec2031;
	}
	.menu-opener-active {
		color: #ec2031;
	}
	.mobile-links {
		position: fixed;
		left: 100%;
		top: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		z-index: 999;
		padding-top: 20vh;
		text-align: center;
	}
	.mobile-links div {
		padding: .25em 0;
		margin: .15em 0;
		font-size: 1.6em;
		color: #0e1937 !important;
	}
	.mobile-links div .stake-now {
		font-size: 1em;
		width: 50%;
		color: #fff !important;
	}
	.mobile-links div a.stake-now div {
		color: #fff !important;
		width: 60%;
		margin-left: 20%;
		padding: .25em .75em .25em .25em;
		font-size: 1em;
		border-radius: .25em;
	}
	h2 {
		font-size: 3em;
	}
	.network {
		width: 100%;
	}
	.network h3 {
		font-size: 2em;
	}
	.status span {
		font-size: 4em !important;
	}
	.perc {
		font-size: 2em !important;
	}
	.live {
		padding: 1em;
		margin-right: 1em;
	}
	.game {
		background-color: #0e1937;
		padding: 100px 7.5% 100px 7.5%;
	}
	.game input {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1em;
	}
	.game h3 {
		font-size: 2em;
	}
	.game h4 {
		font-size: 1.2em;
	}
	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}
	.choice h3 {
		font-size: 1.4em;
	}
	.choice {
		margin-bottom: 2em;
	}
	.choice i {
		margin-top: 1em;
		margin-bottom: .2em;
	}
	.member {
		width: 85%;
		margin-bottom: 2em;
	}
	.portfolio {
		padding: 0 7.5%;
	}
	.contact .col-4,
	.contact .col-5 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	footer .col-6,
	footer .col-6 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.data {
		width: 100%;
		margin-left: 0;
		height: 40em;
	}
	.bck a {
		font-size: 1em;
	}
	.token-name h3 {
		font-size: 2em;
	}
	.token-name {
		height: 3em;
	}
	.calculated .col-4,
	.reward-comission .col-3 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.reward-comission .col-3 h5 {
		font-size: 1.4em;
	}
	.reward-comission .col-3 h6 {
		font-size: .7em;
	}
	.calculated .col-4 h6 {
		font-size: .7em;
		height: 2.5em;
	}
	.calculated .col-4:nth-child(1) h6,
	.calculated .col-4:nth-child(2) h6 {
		height: 1.5em;
	}
	.calculated .col-4 h5 {
		font-size: 1.4em;
	}
	.range h5 {
		font-size: .9em;
	}
	.validator h5 {
		width: 100%;
		margin: 0;
		font-size: 1em;
		margin: 0 0 1em 0;
		margin-top: 2vw;
	}
	.validator h6 {
		font-size: .8em;
		margin-bottom: 1vw;
		margin-top: 0;
	}
	.validator a div {
		width: 45%;
		margin: 0 0 1em 0;
		font-size: .9em;
		padding: .5em 1em;
		margin-right: 5%;
	}
	.fa-coins,
	.fa-clone {
		font-size: .9em;
		margin-top: .4em;
	}
	.calculated .col-4 h4 {
		font-size: 1em;
	}
	.slider::-webkit-slider-thumb {
		width: 1.5em;
		height: 1.5em;
	}
	.slider::-moz-range-thumb {
		width: 1.5em;
		height: 1.5em;
	}
	.range h4,
	#delegated-amount {
		font-size: 2em;
	}
	.mobile-margin-top {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 640px) {
	.main h2 {
		font-size: 1.6em;
	}
	.main h3 {
		font-size: 1em;
	}
	.main .stake-mob {
		transform: scale(.8);
	}
	.validator a div {
		width: 100%;
		margin: 0 0 .75em 0;
	}
	.validator h5 {
		margin: 0 0 .5em 0;
	}
	.mobile-links div {
		font-size: 1.4em;
	}
	footer h4 {
		font-size: 1.6em;
	}
	footer i {
		margin-bottom: 1em;
	}

	.l-img {
		width: 40%;
	}
	.l-red {
		margin-left: -40%;
		z-index: 2001;
		z-index: 4000;
		-transform: rotateX(90deg);
	}

	.blue-hider {
		width: 100%;
		height: 15vh;
		left: 6%;
		top: 48vh;
	}
	.red-hider {
		width: 100%;
		height: 15vh;
		left: -3%;
		top: 22vh;
	}
	.network .icon img {
		-width: 25%;
		height: 20vw;
	}
	.network {
		height: 90vw;
	}
	.click-for-more {
		font-size: 0.8em;
	}
}
.hideheader {
	display: none;
}
::-webkit-scrollbar {
	width: 0px;
}
